{% extends 'layouts/logo.svg.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('personal.static', filename='index.css') }}">
{% endblock head %}
{% block content %}

<body>
    <!-- Fixed position and loaded behind contents -->
    <div class="background">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
    </div>

    <div class="container">
        <nav>
            <div class="logo">
                {% block logo %}
                    {{ super() }}
                {% endblock logo %}
            </div>
            <a href="{{ url_for('personal.projects') }}">Projects</a>
        </nav>
        <aside>
            <h1>Welcome</h1>
            <p>
                My name is Bryan. Throughout my programming journey the challenge has been keeping up. There is new
                code being pushed and tools being updated daily.
            </p>
            <p>
                This project is a living document using various applications on my journey. It showcases the different
                routes and detours taken to navigate the expanding space in the tech universe.
            </p>
        </aside>
    </div>


    <a href="https://github.com/BrainABar/Frontend-Flask"><h2>Tech<svg class="fab fa-github"></svg> Stack</h2></a>
    <div class="flex-container footer-icons">
        <div class="flex-container">
            <div><svg style="color: rgba(249, 133, 8, 0.5)" class="fab fa-html5 fa-5x"></svg><p>HTML</p></div>
            <div><svg style="color: rgba(73, 99, 255, 0.5)" class="fab fa-css3-alt fa-5x"></svg><p>CSS</p></div>
        </div>
        <div class="flex-container">
            <div><svg style="color: rgba(225, 226, 42, 0.5)" class="fab fa-js fa-5x"></svg><p>Javascript</p></div>
            <div><svg style="color: rgba(203, 45, 111, 0.5)" class="fab fa-python fa-5x"></svg><p>Python</p></div>
        </div>
        <div class="flex-container">
            <div><svg style="color: rgba(91, 151, 228, 0.5)" class="fab fa-docker fa-5x"></svg><p>Docker</p></div>
            <div><svg style="color: rgba(36, 165, 81, 0.5)" class="fab fa-linode fa-5x"></svg><p>Linode</p></div>
        </div>
    </div>


</body>
{% endblock content %}