<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
        {% block head %}
        <!-- Any additional headers that might be needed for the body declared in child-->
        {% endblock head %}

        {% if title %}
            <title>BryanBar - {{ title }}</title>
        {% else %}
            <title>BryanBar</title>
        {% endif %}
    </head>

    <body>
    {% block content %}
    {% endblock content %}
    </body>
</html>