{% extends 'layouts/logo.svg.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('personal.static', filename='navbar/navbar.css') }}">
    <script src="{{ url_for('personal.static', filename='navbar/navbar.js') }}"></script>
{% endblock head %}

{% block content %}
  <div class="navbar">
    <span class="navbar-toggle"  onclick="toggleNavbar()">
        <svg class="fas fa-ellipsis-h fa-2x"></svg>
    </span>
    <a href="{{ url_for('personal.index') }}" class="logo">BryanBar</a>
    <ul class="nav-menu" id="js-menu">
      <li><a href="{{ url_for('personal.index') }}" class="nav-links">Home</a></li>
      <li><a href="{{ url_for('personal.projects') }}" class="nav-links">Projects</a></li>
    </ul>
  </div>
{% endblock content %}
{% block footer %}
    {{ super() }}
{% endblock footer %}